.container {
  display: flex;
  flex-direction: column;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: var(--base-size-8);
  border: 1px solid red;
  padding: var(--base-size-4);
}

.filters-container > div {
  border: 1px solid green;
}

.characters-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  margin-bottom: var(--base-size-28)
}
